@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Libre+Baskerville:400i');

body {
    margin: 0;
}
/* header*/
header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.bg {
    background-image: url(../Images/herobanner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 90%;;
    height: 90vh;
    z-index: 1;
}
h1 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 58px;
    text-align: center;
    padding-top: 150px;
    letter-spacing: 5px;
    position: relative;
}
h1::before {
    content: '';
    display: block;
    width: 500px;
    border: 20px solid #fff;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    z-index: -1;
    position: absolute;
}
/*menu*/
.band {
    height: 70px;
    width: 150px;
    padding-top: 65px;
    z-index: 2;
}
nav {
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;   
}
nav ul {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    height: 50px;
    
}
nav ul li {
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
    line-height: 10px;   
}
nav ul li a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}

/* section offer*/
#offer {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin-left: 200px;
    justify-content: center;
    flex-wrap: nowrap;
    padding-bottom: 20px;
}
#offer h2 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 38px;
    text-align: left;
    letter-spacing: 2px;
    position: relative;
    letter-spacing: inherit;
}
#offer h2::before {
    content: '';
    display: block;
    width: 250px;
    border: 10px solid #f3f3f6;
    left: -270px;
    right: 0;
    top: 15px;
    margin: auto;
    z-index: -1;
    position: absolute;
}
#offer p{
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    line-height: 20px;
    max-width: 550px;
    position: relative;
}
.list{
    display: inline-flex;
    justify-content: flex-start;
}
#offer ul{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 200px;  
    padding: 0;
}
#offer ul h3{
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    letter-spacing: 8px;
}
#offer ul li{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    list-style: none;
    line-height: 35px;
    text-transform: uppercase;
    margin: 5px 0 15px 0;
}
.act li, .exp li{
    border-bottom: 2px solid #f8f8f8;
}
.act li:last-child{
    border-bottom: none;
}
.act, .exp{
    margin: 25px 15px 25px 15px;
}
#offer p:last-child::before{
    content: url(../Images/offer-img.jpg);
    display: flex;
    align-content: flex-end;
    z-index: -1;
    justify-content: flex-end;
    position: absolute;
    top: -170px;
    left: 500px;
    
}
#offer p:last-child::after{
    content: '';
    border: 10px solid #f3f3f3;
    z-index: -2;
    position: absolute;
    display: inline-flex;
    justify-content: flex-start;
    width: 100px;
    height: 100px;
    top: -230px;
    left: 455px;
    border-radius: 50%;
}
.caption{
    position: absolute;
    display: inline-flex;
    justify-content: flex-start;
    text-transform: uppercase;
    font-size: 16px;
    top: -145px;
    left: 500px;
}
/*about*/
#about {
    background: url(../Images/about-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 650px;
    z-index: -2;
    position: relative;
}
#about h2{
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 38px;
    text-align: left;
    letter-spacing: 2px;
    position: relative;
    letter-spacing: inherit;
    margin-left: 200px;
    padding-top: 50px;
}
#about h2::before {
    content: '';
    display: block;
    width: 250px;
    border: 10px solid #fff;
    left: -500px;
    right: 0;
    top: 65px;
    margin: auto;
    z-index: -1;
    position: absolute;   
}

.first{
    margin-left: 200px;
    width: 560px;
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
}
.second{
    margin-left: 200px;
    width: 543px;
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
}




/* footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(../Images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-size: 100%;
    height: 25vh;
    
}

footer img {
    height: 40px;
    width: 40px;
    margin: 10px 32px 10px 32px;
    padding-top: 20px;
}