@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Libre+Baskerville:400i');

/* header*/
header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.bg {
    background-image: url(../Images/herobanner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 90%;;
    height: 90vh;
    z-index: 1;
}
h1 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 58px;
    text-align: center;
    padding-top: 160px;
    letter-spacing: 5px;
    position: relative;
}
h1::before {
    content: '';
    display: block;
    width: 500px;
    border: 20px solid #fff;
    left:0;
    right: 0;
    margin: auto;
    top: 158px;
    z-index: -1;
    position: absolute;
}
/*menu*/
.band {
    height: 70px;
    width: 150px;
    padding-top: 65px;
    z-index: 2;
}
nav {
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}
nav ul {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    height: 50px;
    
}
nav ul li {
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
    line-height: 10px;   
}
nav ul li a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}

/* section offer*/


/* footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-image: url(../Images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-size: 100%;
    height: 25vh;
    
}

footer img {
    height: 40px;
    width: 40px;
    margin: 10px 32px 10px 32px;
    padding-top: 20px;
}